<section class="margin-top-10">
  <a href="#/" class="underline font-size-1-2">Home</a>
</section>
<br>
<form name="signUpForm" method="post">
  <p>
    <input type="text"
           name="username"
           placeholder="Username"
           ng-model="username"
           class="input-text"
           autofocus>
  </p>
  <p>
    <input type="password"
           name="password"
           placeholder="Password"
           ng-model="password"
           class="input-text margin-bottom-0">
  </p>
</form>